pydantic-settings
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
langgraph
langchain
langchain-groq
langchain-tavily
langchain-community
python-dotenv
requests
streamlit
fastapi
pydantic-settings
uvicorn[standard]