pydantic-settings
uvicorn[standard]
sqlalchemy[asyncio]
asyncpg
alembic
redis
langgraph
langchain
langchain-groq
langchain-huggingface
langchain-tavily
langchain-community
python-dotenv
requests
streamlit
fastapi
pydantic-settings
uvicorn[standard]
